<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{>meta}}
        <link rel="stylesheet" type="text/css" href="styles/about.css" />
        <title>Web Crawler</title>
    </head>

    <body>
        {{>header}}

        <main class="main">
            <div class="main-container">
                <h1>About Page</h1>
                <div class="divider"></div>

                <div class="main-container-content">
                    <article class="article">
                        <div class="project-instructions-container">
                            <h3>Project Instructions:</h3>
                            <ul>
                                <li>
                                    <span>Frontend -</span>
                                    <ul>
                                        <li>
                                            A simple form for entering scrape requests which will will inclunde basic
                                            params: URL, max depth, max pages.
                                        </li>
                                        <li>A display of the actual jobs with as much relevant information.</li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Backend -</span>
                                    <ul>
                                        <li>
                                            An API service for the frontend to communicate with. It should implement
                                            eirther REST API or a well structured API over Websockets.
                                        </li>
                                        <li>
                                            A crawler service that handles the actula crawling with the following specs:

                                            <ul>
                                                <li>
                                                    Use the BFS algorithm. BFS here means that all items of depth N.
                                                    Finish processing before any items from depth N+1 start.
                                                </li>
                                                <li>
                                                    Stop crawling a job when it reaches maxDepth or maxPages whichever
                                                    comes first.
                                                </li>
                                                <li>For each page, save at least the title, depth, URL, links.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>Build for horizontal scale. Pure in-memory solutions will not be accepted.</li>
                                <li>Make the UI update in real time.</li>
                            </ul>
                        </div>

                        <div class="project-technologies-container">
                            <h3>Technologies Used:</h3>
                            <ul>
                                <li>
                                    <span>Frontend -</span>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Vanilla Javascript</li>
                                        <li>Handlebars.js</li>
                                    </ul>
                                </li>

                                <li>
                                    <span>Backend -</span>
                                    <ul>
                                        <li>Node.js</li>
                                        <li>Express</li>
                                        <li>Redis</li>
                                        <li>AWS</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <aside class="aside">
                        <img src="img/Profile-Picture.png" alt="Picture of Almog Gutin" class="profile-picture" />

                        <div class="repository-links">
                            <button
                                type="button"
                                onclick="location.href='https://github.com/almog-gutin/Web-Crawler-Full-App'"
                            >
                                Full App Repositroy
                            </button>

                            <button
                                type="button"
                                onclick="location.href='https://github.com/almog-gutin/Web-Crawler-Client'"
                            >
                                Frontend Repositroy
                            </button>

                            <button
                                type="button"
                                onclick="location.href='https://github.com/almog-gutin/Web-Crawler-Server'"
                            >
                                Backend Repositroy
                            </button>

                            <button
                                type="button"
                                onclick="location.href='https://github.com/almog-gutin/Web-Crawler-Worker'"
                            >
                                Worker Repositroy
                            </button>
                        </div>
                    </aside>
                </div>
            </div>
        </main>

        {{>footer}}
    </body>
</html>