.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 20vh;
    background-color: #4b4b4b;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80%;
}

.header img {
    height: 200px;
    width: 200px;
}

.header h1 {
    height: 100%;
    width: 80%;
    margin: 0%;
    text-align: center;
    padding-top: 60px;
    color: #dcdde1;
    font-size: 4rem;
}

.header-nav {
    background-color: #dcdde1;
    width: 100%;
    height: 20%;
}

.header-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
}

.header-nav ul li {
    padding: 1rem;
    margin: 0%;
    list-style: none;
}

.header-nav ul li a {
    display: block;

    text-decoration: none;
    color: #4b4b4b;
    font-size: 1.2rem;
}
